<div>
    <p><strong>First Name: </strong> {{profile?.givenName}}</p>
    <p><strong>Last Name: </strong> {{profile?.surname}}</p>
    <p><strong>Email: </strong> {{profile?.userPrincipalName}}</p>
    <p><strong>Job: </strong> {{profile?.jobTitle}}</p>
    <p><strong>Id: </strong> {{profile?.id}}</p>
    <p><strong>userId: </strong> {{profile?.userId}}</p>
    <p><strong>Name: </strong> {{profile?.name}}</p>
    <p><strong>Token: </strong> {{profile?.token}}</p>
    <p><strong>Roles: </strong> {{profile?.roles}}</p>
    <p><strong>Permissions: </strong> {{profile?.permissions}}</p>
</div>